AlbedoBot/*.session
AlbedoBot/*.session-journal
log.txt
*.pyc
.idea/
.project
.pydevproject
.directory
.vscode
AlbedoBot/modules/helper_funcs/temp.txt
AlbedoBot/elevated_users.json
start-3.6.bat
*.session
kangsticker.png
venv
env
neko.session-journal
updates.txt
*.exe
